html {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
    margin: 0;
    padding: 0;
    border: 0;
}

.container {
    display: flex;
    flex-direction: column;
    border: 0;
    padding: 0.55rem;
    margin: 1rem auto;
    background-color: #ccc;
    max-width: 500px;
}

ul {
    list-style-type: none;
    align-items: start;
    margin: 0;
    padding: 0;
}

ul li {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #fff;
    text-align: center;
    padding: 5px;
    font-size: 1rem;
}

/* Desktop */
@media screen and (min-width: 768px) {
    .container {
        width: 500px;
    }

    ul {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px;
    }

    ul li {
        aspect-ratio: 1/ 1;
    }
}

/* Mobile */
@media screen and (max-width: 767px) {
    .container {
        width: 100vw;
        height: 100vh;
    }

    ul {
        display: grid;
        flex-wrap: wrap;
        width: 100%;
        height: 100%;
        grid-gap: 10px;
        height: 100%;
    }

    ul li {
        grid-column: 1;
        aspect-ratio: 16 / 9;
        padding: 0;
        width: 100%;
    }
}